nav {
    height: 120px;
    background-color: #f0e1d8;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
}

nav div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-family: Bungee, sans-serif;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

nav div img {
    width: 80px;
    height: 80px;
    margin-left: 200px;
}

nav div p {
    color: white;
    font-size: 22px;
    margin-left: 10px;
    text-align: center;
    flex: 1;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.icons {
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-user {
    font-size: 30px;
}

.user {
    margin-left: 20px;
    padding-right: 30px!important;
}

.fa-search {
    font-size: 30px;
}

.search {}

.fa-shopping-cart {
    font-size: 30px;
}

.cart {
    padding-left: 30px!important;
}